#dispProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left:4em;
}

.prod{
	display: flex;
	margin: 1em;
}

h1, h2, h3, footer {
  text-align: center;
  margin-top:1em;
  color:white;
}

.hide {
  display: none;
}

.nav {
  font-size: 26px;
}

.main-header{
  position:sticky; 
  top:0;
  background:#0c2b35;
  z-index: 3;
}