#dispProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 4em;
}

.prod {
	display: flex;
	margin: 1em;
}

h1, h2, h3, footer {
  text-align: center;
  margin-top: 1em;
  color:white;
}

.hide {
  display: none;
}

.nav {
  font-size: 21px;
}

.main-header{
  position: sticky; 
  top: 0;
  background:#0c2b35;
  z-index: 3;
}

.minus, .plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
}

.inputAmount {
  text-align: center;
  width: 30px;
  font-weight: bold;
  margin: 0 10px 0 10px;
  border: 1px solid #073642;
  border-radius: 50%;
}

.confirmationDiv {
  text-align: center;
}